@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+KR:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    color: #222;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ccc;
}

.wrap {
    background-color: #fff;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    animation: fadein 3s;
}

header {
    position: absolute;
    top: 10px;
    right: 10px;
}

.nav {
    display: flex;
    align-items: center;
}

.nav li {
    list-style: none;
}

.nav li:nth-child(1) {
    margin-right: 3px;
}

.nav li a {
    position: relative;
    padding: 0 5px;
    text-decoration: none;
    font-weight: bold;
    color: #ccc;
    z-index: 0;
    transition: color .3s linear;
}

.nav li a:after,
.button:after {
    background: #375999;
    content: '';
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    width: 0;
    transition: all .3s linear;
    z-index: -1;
}

.nav li a:hover {
    color: #fff;
}
.nav li a:hover:after {
    width: 100%;
}

.word-display {
    font-size: 80px;
    color: #375999;
    text-align: center;
    transition: font-size .2s linear;
}

.title {
    font-weight: bold;
}

.word-input-box {
    margin-top: 2rem;
}

.word-input {
    padding: 0.5rem;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 10px;
    transition: all .1s linear;
}

.word-input:focus-visible {
    outline: 3px solid#375999;
}

.game-info {
    margin-top: 2rem;
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
    width: 220px;
}

.game-info div {
    display: flex;
    align-items: center;
}

.time, .score {
    margin-left: 3px;
    font-size: 30px;
    color: #375999;
}

.button {
    width: 220px;
    height: 35px;
    border: 3px solid #375999;
    background: none;
    color: #375999;
    margin-top: 3rem;
    position: relative;
    cursor: pointer;
    transition: all .3s linear;
    text-transform: uppercase;
    z-index: 0;
}

.button:hover {
    color: #fff;
}

.button:hover:after {
    width: 100%;
}

.loading {
    background-color: #ccc;
    border: 3px solid #ccc;
    color: #fff;
    cursor: not-allowed;
}

.button.loading::after {
    width: 0;
}

.popup {
    display: none;
    position: absolute;
    padding: 5rem 6rem;
    text-align: center;
    background-color: #375999;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    transition: display;
}

.popup p {
    color: #fff;
}

.popup-score {
    color: #fff;
    font-weight: bold;
}

.hide {
    display: none;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media screen and (max-width: 769px) {
    .title {
        font-size: 50px;
    }
}