* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ccc;
}

.wrap {
    background-color: #fff;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fadein 2s;
}

.word-display {
    font-size: 80px;
    color: #375999;
    text-align: center;
    transition: font-size .2s linear;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


.word-input-box {
    margin-top: 2rem;
}

.word-input {
    padding: 0.5rem;
    width: 300px;
}

.game-info {
    margin-top: 2rem;
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
    width: 220px;
}

.hide {
    display: none;
}

.time, .score {
    font-size: 30px;
}


.button {
    width: 220px;
    height: 35px;
    background: #375999;
    color: #fff;
    border: none;
    margin-top: 3rem;
    cursor: pointer;
    animation-name: fadein;
}

.loading {
    background: #ccc;
    cursor: not-allowed;
}

.title {
    font-weight: bold;
}

@media screen and (max-width: 769px) {
    .title {
        font-size: 50px;
    }
}